body {
  background-color: rgb(232, 245, 204);
}

h1 {
  text-align: center;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 0;
  padding: 2%;
  background-color: rgb(2, 105, 131);
}

button {
  background-color: transparent;
  border: none;
}

.section {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.to-do-list-section {
  width: 100%;
  background-color: rgb(219, 120, 120);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2px;
  box-shadow: 1px 1px 5px gray;
}

.icons-1 {
  width: 100%;
  margin-bottom: 4px;
  background-color: rgb(230, 168, 168);
}

.icon {
  width: 15px;
  padding-left: 5%;
  cursor: pointer;
}

.fa:hover {
  cursor: move;
}

.icon1 {
  float: right;
  color: rgb(151, 199, 39);
  cursor: pointer;
  font-size: medium;
}

.task {
  display: flex;
  padding: 3%;
  background-color: rgb(86, 119, 226);
}

.todo-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgb(62, 221, 195);
  row-gap: 2px;
}

.input-1 {
  width: 85%;
  border: none;
  padding: 10px;
  background-color: rgb(42, 197, 184);
  cursor: pointer;
}

input::placeholder {
  font-style: italic;
}

.task-check {
  margin-right: 2%;
}

.list {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.clear-container {
  text-align: center;
}

.clearer {
  padding: 2%;
  cursor: pointer;
  font-size: 20px;
  font-weight: lighter;
}

.strike-through {
  text-decoration: line-through;
  color: rgb(212, 14, 14);
}
