body {
  background-color: rgb(177, 221, 120);
}

h1 {
  text-align: center;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 0;
  padding: 2%;
  background-color: rgb(113, 182, 238);
}

button {
  background-color: transparent;
  border: none;
}

.container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.to-do-list-container {
  width: 100%;
  background-color: rgb(136, 245, 212);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2px;
  box-shadow: 1px 1px 5px rgb(19, 226, 70);
}

.icon {
  width: 16px;
  width: 15px;
  padding-left: 5%;
}

.input-1 {
  width: 100%;
  margin-bottom: 1px;
  background-color: rgb(60, 202, 190);
}

.icon1 {
  float: right;
  color: rgb(144, 77, 206);
  cursor: pointer;
  font-size: medium;
  padding-right: 2%;
}

.task {
  background-color: rgb(95, 125, 224);
  display: flex;
  padding: 3%;
}

.list-1 {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgb(11, 99, 139);
  row-gap: 2px;
}

.input-2 {
  width: 85%;
  border: none;
  padding: 10px;
  background-color: rgb(206, 137, 81);
  cursor: pointer;
  margin: 0;
  box-sizing: border-box;
}

.input-2:focus {
  outline: none;
  border: 2px solid rgb(103, 160, 11);
}

input::placeholder {
  font-style: italic;
}

.task-check {
  margin-right: 2%;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgb(212, 80, 80);
  row-gap: 2px;
}

.clear-btn {
  padding: 2%;
  cursor: pointer;
  font-size: 20px;
  font-weight: lighter;
}

.clear-div {
  text-align: center;
}

.drag {
  margin-left: 8px;
  cursor: move;
  color: rgb(177, 221, 120);
  font-size: 18px;
}

.drag:active {
  cursor: grabbing;
}

.task-text {
  border: none;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  background-color: rgb(189, 218, 238);
  display: inline-block;
  border-radius: 5px;
}

.task-text:focus {
  outline: none;
}

#task-Form {
  display: flex;
  flex-wrap: nowrap;
}

#task-2 {
  font-size: 16px;
  width: 20%;
  background-color: rgb(112, 58, 199);
  margin: 0;
  cursor: pointer;
  padding-left: 10%;
}

.completed {
  text-decoration: line-through;
}
